button,
label,
input,
select,
progress,
meter {
  display: block;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  height: 30px;
}

body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 6fr;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#topbar {
    grid-area: 1 / 1 / 2 / 4;
    background-color: rgba(48, 138, 48, 0.863);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    border-bottom: 1px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 10px grey;
}

#header {
    grid-area: 1 / 2 / 2 / 3;
    margin: 0;
    display: flex;
    align-items: center;
    color: aliceblue;
}

form {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    gap: 1rem;
    padding: 2rem;
}

#addtolibrary div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

#addtolibrary div input {
    height: 2rem;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px;
    padding-left: 5px;
    width: 10vw;
}

#addtolibrary div select {
    height: 2rem;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px;
    padding-left: 5px;
}

#submitbutton {
    color: aliceblue;
    background-color: rgb(48, 138, 48);
    border-radius: 5px;
    border: 1px solid black;
    height: 3rem;
    margin-top: 1rem;
    width: 6rem;
}

#shelf {
    grid-area: 3 / 2 / 4 / 3;
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    padding: 2rem;
}

.card {
    border: solid black 1px; 
    border-radius: 1rem;
    padding: 1rem;
    height: 15vh;
    box-shadow: 5px 5px 10px grey;
}

.buttondiv {
    display: flex;
    justify-content: space-between;
}

.buttondiv button {
    width: 90px;
    height: 45px;
    padding: 5px;
}

#removebutton {
    background-color: rgb(204, 68, 68);
    color: white;
    border: solid 1px black;
    font-weight: 700;
    border-radius: 0.5rem;
}

.read {
    background-color: rgba(48, 138, 48, 0.863);
    color: white;
    border: solid 1px black;
    font-weight: 700;
    border-radius: 0.5rem;
}

label {
    font-weight: 700;
}